In [1]:
# Libraries
import pandas as pd
import numpy as np

In [2]:
# Import Data

#df_diamonds = pd.read_csv ('../../../../ih_datamadpt1121_project_m2/db/Diamonds_db_SQL.csv')
df_diamonds = pd.read_csv ('/Users/antoniohuerta/ironhack/ih_datamadpt1121_project_m2/db/Diamonds_db_SQL.csv')
df = df_diamonds
# Explore dataset

df.head()
#df.isna().any()
#df.dtypes

,Index-ID,Color,Cut,Clarity,Price,City,Depth,Table,x,y,z,Carat
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,J,Premium,VS2,4268,Dubai,62.4,58.0,6.83,6.79,4.25,1.21
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,H,Very Good,VS2,505,Kimberly,63.0,57.0,4.35,4.38,2.75,0.32
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,G,Fair,VS1,2686,Las Vegas,65.5,55.0,5.62,5.53,3.65,0.71
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,D,Good,SI1,738,Kimberly,63.8,56.0,4.68,4.72,3.00,0.41
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,G,Ideal,SI1,4882,Dubai,60.5,59.0,6.55,6.51,3.95,1.02

In [3]:
# Obtenemos el listado de valores Ãºnicos de la columna city

cities = df_diamonds['City'].unique()
cities

array(['Dubai', 'Kimberly', 'Las Vegas', 'Tel Aviv', 'Amsterdam',
       'Zurich', 'Antwerp', 'Madrid', 'Paris', 'Surat', 'Luxembourg',
       'London', 'New York City'], dtype=object)

In [4]:
# Creamos una nueva columna a la que le asignamos el valor del continente en base a City

country_cont = {'Dubai':'Asia',
                 'Kimberly':'Africa',
                 'Las Vegas':'America',
                 'Tel Aviv':'Asia',
                 'Amsterdam':'Europe',
                 'Zurich':'Europe',
                 'Antwerp':'Europe',
                 'Madrid':'Europe',
                 'Paris':'Europe',
                 'Surat':'India',
                 'Luxembourg':'Europe',
                 'London':'Europe', 
                 'New York City':'America'
                 }

In [5]:
# Insertamos una columna con el continente

df_diamonds['Continent']=df_diamonds['City'].map(country_cont)
df_diamonds.head()

,Index-ID,Color,Cut,Clarity,Price,City,Depth,Table,x,y,z,Carat,Continent
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,J,Premium,VS2,4268,Dubai,62.4,58.0,6.83,6.79,4.25,1.21,Asia
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,H,Very Good,VS2,505,Kimberly,63.0,57.0,4.35,4.38,2.75,0.32,Africa
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,G,Fair,VS1,2686,Las Vegas,65.5,55.0,5.62,5.53,3.65,0.71,America
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,D,Good,SI1,738,Kimberly,63.8,56.0,4.68,4.72,3.00,0.41,Africa
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,G,Ideal,SI1,4882,Dubai,60.5,59.0,6.55,6.51,3.95,1.02,Asia

In [6]:
inexes = df_diamonds['Index-ID'].unique()

#len (inexes)
#len(df_diamonds['Index-ID'])

In [7]:
reps = df_diamonds[df_diamonds.duplicated(['Depth','Table','x','y','z'], keep = False)].sort_values

In [8]:
#len(reps)
#reps.head
#reps

<bound method DataFrame.sort_values of                                                 Index-ID Color        Cut  \
0      5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...     J    Premium
1      6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...     H  Very Good
15     e629fa6598d732768f7c726b4b621285f9c3b85303900a...     G       Good
22     785f3ec7eb32f30b90cd0fcf3657d388b5ff4297f2f971...     G  Very Good
24     c2356069e9d1e79ca924378153cfbbfb4d4416b1f99d41...     G    Premium
...                                                  ...   ...        ...
40405  a04c23499b380163a45148db577e37e02c309c7b020137...     G    Premium
40417  65f6a89ba2e1d6d4ebb97333dab39daaddbadd393ab82d...     G       Good
40425  dff43fac32be7cf4e2b5b60e653ec93e0e7b58288c2374...     F      Ideal
40446  5609aeee890a691e5542100acdb83a3604a4d8bd51599e...     I      Ideal
40449  1726e8e229489b353e6007fac1dfffb5300a96bf6166cf...     F      Ideal

      Clarity  Price      City  Depth  Table     x     y     z  Carat  \
0         VS2   4268     Dubai   62.4   58.0  6.83  6.79  4.25   1.21
1         VS2    505  Kimberly   63.0   57.0  4.35  4.38  2.75   0.32
15        SI2   6006     Paris   57.5   63.0  7.53  7.49  4.32   1.50
22        VS1    605    Zurich   61.7   56.0  4.29  4.33  2.66   0.30
24        SI1    574    Madrid   62.9   59.0  4.28  4.24  2.68   0.30
...       ...    ...       ...    ...    ...   ...   ...   ...    ...
40405     VS1    776     Dubai   61.4   58.0  4.35  4.32  2.66   0.30
40417     VS2   4257   Antwerp   63.6   58.0  6.10  6.14  3.89   0.91
40425     VS2    863  Tel Aviv   61.8   57.0  4.75  4.79  2.95   0.41
40446     VS2   1110     Dubai   62.4   55.0  5.09  5.11  3.18   0.50
40449     VS1   3710  Kimberly   61.9   56.0  5.69  5.72  3.53   0.71

      Continent
0          Asia
1        Africa
15       Europe
22       Europe
24       Europe
...         ...
40405      Asia
40417    Europe
40425      Asia
40446      Asia
40449    Africa

[4959 rows x 13 columns]>