In [10]:
# Libraries
import pandas as pd
import numpy as np

In [11]:
# Import Data

#df_diamonds = pd.read_csv ('../../../../ih_datamadpt1121_project_m2/db/Diamonds_db_SQL.csv')
df_diamonds = pd.read_csv ('/Users/antoniohuerta/ironhack/ih_datamadpt1121_project_m2/db/Diamonds_db_SQL.csv')
df = df_diamonds
# Explore dataset

df.head()
#df.isna().any()
#df.dtypes

,Index-ID,Color,Cut,Clarity,Price,City,Depth,Table,x,y,z,Carat
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,J,Premium,VS2,4268,Dubai,62.4,58.0,6.83,6.79,4.25,1.21
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,H,Very Good,VS2,505,Kimberly,63.0,57.0,4.35,4.38,2.75,0.32
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,G,Fair,VS1,2686,Las Vegas,65.5,55.0,5.62,5.53,3.65,0.71
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,D,Good,SI1,738,Kimberly,63.8,56.0,4.68,4.72,3.00,0.41
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,G,Ideal,SI1,4882,Dubai,60.5,59.0,6.55,6.51,3.95,1.02

In [12]:
# Obtenemos el listado de valores Ãºnicos de la columna city

cities = df_diamonds['City'].unique()
cities

array(['Dubai', 'Kimberly', 'Las Vegas', 'Tel Aviv', 'Amsterdam',
       'Zurich', 'Antwerp', 'Madrid', 'Paris', 'Surat', 'Luxembourg',
       'London', 'New York City'], dtype=object)

In [13]:
# Creamos una nueva columna a la que le asignamos el valor del continente en base a City

country_cont = {'Dubai':'Asia',
                 'Kimberly':'Africa',
                 'Las Vegas':'America',
                 'Tel Aviv':'Asia',
                 'Amsterdam':'Europe',
                 'Zurich':'Europe',
                 'Antwerp':'Europe',
                 'Madrid':'Europe',
                 'Paris':'Europe',
                 'Surat':'Asia',
                 'Luxembourg':'Europe',
                 'London':'Europe', 
                 'New York City':'America'
                 }

In [14]:
# Insertamos una columna con el continente

df_diamonds['Continent']=df_diamonds['City'].map(country_cont)
df_diamonds.head()

,Index-ID,Color,Cut,Clarity,Price,City,Depth,Table,x,y,z,Carat,Continent
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,J,Premium,VS2,4268,Dubai,62.4,58.0,6.83,6.79,4.25,1.21,Asia
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,H,Very Good,VS2,505,Kimberly,63.0,57.0,4.35,4.38,2.75,0.32,Africa
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,G,Fair,VS1,2686,Las Vegas,65.5,55.0,5.62,5.53,3.65,0.71,America
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,D,Good,SI1,738,Kimberly,63.8,56.0,4.68,4.72,3.00,0.41,Africa
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,G,Ideal,SI1,4882,Dubai,60.5,59.0,6.55,6.51,3.95,1.02,Asia

In [15]:
inexes = df_diamonds['Index-ID'].unique()

#len (inexes)
#len(df_diamonds['Index-ID'])

In [16]:
reps = df_diamonds[df_diamonds.duplicated(['Depth','Table','x','y','z'], keep = False)].sort_values

In [17]:
df_diamonds.to_csv(r'/Users/antoniohuerta/ironhack/ih_datamadpt1121_project_m2/db/Diamonds_db_pandas.csv', index = False)